---
import Layout from "../../layouts/Layout.astro";
import { getBlogsList } from "../../utils/blogs";

const blogsList = await getBlogsList();
---

<Layout title="Articles - Build With Hussain">
  <ul>
    {
      blogsList.map((article) => (
        <li>
          <a href={`/articles/${article.route}`}>{article.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
