---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Very Welcome to Astro.">
	<Hero />

	<div class="flex items-center justify-center my-10">
		<a href="/schedule" class="text-center text-green-900 font-semibold text-xl underline underline-offset-1 hover:underline-offset-2 cursor-pointer">Check Schedule</a>
	</div>

	<Footer />
</Layout>
