---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import PageSection from "../layouts/PageSection.astro";
import SectionHeading from "../components/SectionHeading.astro";
import RegistrationForm from "../components/RegistrationForm.astro";
import PastEpisodesList from "../components/PastEpisodesList.astro";
import AboutMeSection from "../components/AboutMeSection.astro";
import Link from "../components/Link.astro";

const FRAPPEVERSE_LINKS = {
	products: [
		{ title: "Frappe Framework", link: "https://frappeframework.com" },
		{ title: "ERPNext", link: "https://erpnext.com" },
		{ title: "Frappe Cloud", link: "https://frappecloud.com" },
	],
	["Write Ups"]: [
		{ title: "MongoDB with Frappe", link: "https://frappe.io/blog/" },
		{
			title: "Astro Powered Frappe Portal Pages",
			link: "https://frappe.io/blog/",
		},
		{
			title: "Build An e-Book Store with Frappe",
			link: "https://frappe.io/blog/",
		},
	],
};
---

<Layout title="#BuildWithHussain">
	<Hero />

	<AboutMeSection />

	<PageSection>
		<SectionHeading>Episodes</SectionHeading>
		<PastEpisodesList />
	</PageSection>

	<PageSection>
		<RegistrationForm />
	</PageSection>

	<PageSection>
		<div class="flex justify-center">
			<a
				href="/schedule"
				class="text-center text-green-900 font-semibold text-xl underline underline-offset-2 hover:underline-offset-4 transition-[text-underline-offset] cursor-pointer"
				>Check Schedule
				<i class="ph-bold ph-arrow-right text-green-900"></i>
			</a>
		</div>
	</PageSection>

	<PageSection>
		<SectionHeading>Frappeverse</SectionHeading>

		<div class="mt-12 space-y-24">
			<!-- Iterate over FRAPPEVERSE_LINKS and render as above -->
			{
				Object.keys(FRAPPEVERSE_LINKS).map((category) => (
					<div class="space-y-8">
						<div class="flex items-center space-x-3">
							<h3 class="uppercase text-green-900 font-bold text-sm">
								{category}
							</h3>

							<div class="h-[1px] w-10 bg-green-900" />
						</div>

						<div class="space-y-4">
							{FRAPPEVERSE_LINKS[category].map((link) => (
								<Link link={link.link} title={link.title} />
							))}
						</div>
					</div>
				))
			}
		</div>
	</PageSection>

	<Footer />
</Layout>
