---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import PageSection from "../layouts/PageSection.astro";
import SectionHeading from "../components/SectionHeading.astro";
import RegistrationForm from "../components/RegistrationForm.astro";
import PastEpisodesList from "../components/PastEpisodesList.astro";
import AboutMeSection from "../components/AboutMeSection.astro";
import UpcomingEpisodesList from "../components/UpcomingEpisodesList.astro";
import FrappeverseSection from "../components/FrappeverseSection.astro";
import ArticlesList from "../components/ArticlesList.astro";
import BeginnersSection from "../components/BeginnersSection.astro";
---

<Layout title="#BuildWithHussain">
  <Hero />

  <AboutMeSection />

  <PageSection id="schedule">
    <SectionHeading>Schedule</SectionHeading>
    <UpcomingEpisodesList />
  </PageSection>

  <PageSection>
    <RegistrationForm />
  </PageSection>

  <PageSection>
    <SectionHeading>Featured Articles</SectionHeading>
    <ArticlesList />
    <div>
      <a
        href="/articles"
        class="text-green-900/60 block font-medium text-base hover:text-green-900/80 my-4"
      >
        All Articles →
      </a>
    </div>
  </PageSection>

  <PageSection>
    <SectionHeading>For Beginners</SectionHeading>
    <BeginnersSection />
  </PageSection>

  <PageSection>
    <SectionHeading>Episodes</SectionHeading>
    <PastEpisodesList />
  </PageSection>

  <FrappeverseSection />

  <Footer />
</Layout>
