---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import HussainWithMic from "../../public/hussain-with-mic.png";
import PageSection from "../layouts/PageSection.astro";
import SectionHeading from "../components/SectionHeading.astro";
import RegistrationForm from "../components/RegistrationForm.astro";
---

<Layout title="#BuildWithHussain">
	<Hero />

	<div class="px-9 md:px-24 mt-32 md:mt-52 md:max-w-7xl md:mx-auto">
		<div class="space-y-12">
			<img src={HussainWithMic} class="w-2/3" />

			<div class="space-y-8">
				<div>
					<h2 class="text-green-900 font-semibold text-xl">
						Mohammad Hussain Nagaria
					</h2>
					<h3 class="text-green-600 text-base font-semibold">
						Trainer. Engineer. Designer. Evangelist.
					</h3>
				</div>

				<p class="text-green-900 text-lg font-normal">
					Intro text here, why I started build with Hussain and what
					is it, in two lines this is the second line. Putting this
					content until I write the copy for this and the will replace
					this paragraph. <strong class="font-semibold"
						>#BuildWithHussain</strong
					>
				</p>
			</div>
		</div>
	</div>

	<PageSection>
		<SectionHeading>Episodes</SectionHeading>
	</PageSection>

	<PageSection>
		<RegistrationForm />
	</PageSection>

	<PageSection>
		<a
			href="/schedule"
			class="text-center text-green-900 font-semibold text-xl underline underline-offset-1 hover:underline-offset-2 cursor-pointer"
			>Check Schedule</a
		>
	</PageSection>

	<Footer />
</Layout>
