---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schedule">
    <!-- Hero section -->
    <section class="bg-white px-9 pb-5 pt-20">
        <img src="../../public/logo.png" alt="hero" class="w-28 h-28 mb-20" />

        <div class="space-y-1">
            <h2 class="text-xl font-semibold text-green-600">Build With Hussain</h2>
            <h1 class="text-green-900 font-semibold text-4xl">Let's Build. Let's Learn.</h1>
        </div>
    </section>

	<main class="px-9 my-36">
		<h2 class="uppercase text-green-500/70 font-black text-2xl mb-3">Schedule</h2>

        <ul class="divide-y-2 divide-green-900/10">
            <li class="font-bold text-lg space-y-1 py-10">
                <div>
                    <h3>E4: Full-stack Web App with React & Frappe Framework</h3>
                    <!-- Arrow Icon -->
                </div>
                <div>
                    <time class="text-gray-500">
                        <span>24th May, 2023</span>
                        <span>|</span>
                        <span>02:30PM IST</span>
                    </time>
                </div>
            </li>

            <li class="font-bold text-lg space-y-1 py-10">
                <div>
                    <h3>E5: Building buildwithhussain.dev live!</h3>
                    <!-- Arrow Icon -->
                </div>
                <div>
                    <time class="text-gray-500">
                        <span>31th May, 2023</span>
                        <span>|</span>
                        <span>02:30PM IST</span>
                    </time>
                </div>
            </li>
        </ul>
	</main>

    <footer class="px-9 flex items-center justify-center mb-10">
        <span class="text-7xl">✌🏼</span>
    </footer>
</Layout>
