---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import RegistrationForm from "../components/RegistrationForm.astro";
import UpcomingEpisodesList from "../components/UpcomingEpisodesList.astro";
---

<Layout title="Schedule">
  <Hero />

  <section class="px-9 md:px-24 my-36">
    <RegistrationForm />
  </section>

  <main class="px-9 md:px-24 my-36">
    <h2
      class="uppercase text-green-500/70 font-black text-2xl mb-3 md:mb-24 md:font-black md:text-5xl"
    >
      Schedule
    </h2>

    <UpcomingEpisodesList />
  </main>

  <Footer />
</Layout>
