---
import HussainWithMic from "../../public/hussain-with-mic.png";
---

<section class="px-9 md:px-24 mt-32 md:mt-52 md:max-w-7xl md:mx-auto">
    <div class="space-y-12">
        <img src={HussainWithMic} class="w-2/3" />

        <div class="space-y-8">
            <div>
                <h2 class="text-green-900 font-semibold text-xl">
                    Mohammad Hussain Nagaria
                </h2>
                <h3 class="text-green-600 text-base font-semibold">
                    Trainer. Engineer. Designer. Evangelist.
                </h3>
            </div>

            <p class="text-green-900 text-lg font-normal">
                Intro text here, why I started build with Hussain and what
                is it, in two lines this is the second line. Putting this
                content until I write the copy for this and the will replace
                this paragraph. <strong class="font-semibold"
                    >#BuildWithHussain</strong
                >
            </p>
        </div>
    </div>
</section>