---
import HussainWithMic from "../../public/hussain-with-mic.png";
---

<section class="px-9 md:px-24 mt-32 md:mt-52 md:max-w-7xl md:mx-auto">
    <div class="space-y-12 md:space-y-0 md:space-x-14 md:flex md:items-end md:justify-center">
        <img src={HussainWithMic} class="w-2/3 md:w-1/4 shrink-0" />

        <div class="space-y-8">
            <div class="md:space-y-1">
                <h2 class="text-green-900 font-semibold text-xl md:text-2xl">
                    Mohammad Hussain Nagaria
                </h2>
                <h3 class="text-green-600 text-base font-semibold md:text-2xl">
                    Trainer. Engineer. Designer. Evangelist.
                </h3>
            </div>

            <p class="text-green-900 text-lg md:text-xl font-normal">
                Intro text here, why I started build with Hussain and what is
                it, in two lines this is the second line. Putting this content
                until I write the copy for this and the will replace this
                paragraph. <strong class="font-semibold"
                    >#BuildWithHussain</strong
                >
            </p>
        </div>
    </div>
</section>
