---
import { Image } from "astro:assets";
import HussainWithMic from "../../public/hussain-with-mic.png";
---

<section class="px-9 md:px-24 mt-10 md:mt-52 md:max-w-7xl md:mx-auto">
  <div
    class="space-y-12 md:space-y-0 md:space-x-14 md:flex md:items-end md:justify-center"
  >
    <Image alt="Hussain holding a mic, photo from ERPNext Conference 2022" src={HussainWithMic} class="w-2/3 md:w-1/4 shrink-0" />

    <div class="space-y-8">
      <div class="md:space-y-1">
        <h2 class="text-green-600 font-semibold text-xl md:text-2xl">
          Mohammad Hussain Nagaria
        </h2>
        <h3 class="text-green-900 text-base font-semibold md:text-2xl">
          Trainer. Engineer. Designer. Evangelist.
        </h3>
      </div>

      <p class="text-green-900 text-lg md:text-xl font-normal">
        I love building stuff. I started the Build With Hussain live stream series to show the
        world the power of Frappe Framework. There is very little content about
        using it to build full-stack web applications and integrating it with
        other technologies. I strongly feel that Frappe Framework is a really
        great tool. <em>No-code when you want, low-code when you want and full-code
        whenever you want!</em> I am also very passionate about teaching. So, I
        decided to combine these two passions and start this live stream series.
        <strong class="font-semibold">#BuildWithHussain</strong>
      </p>
    </div>
  </div>
</section>
