---

---

<footer
  class="px-9 md:px-24 flex items-center justify-center mb-10 mt-36 md:mt-56 flex-col space-y-16 md:space-y-24"
>
  <ul class="flex flex-row space-x-6 md:space-x-12">
    <!-- X Icon -->
    <a
      class="flex items-center justify-center"
      href="https://x.com/NagariaHussain"
      target="_blank"
    >
      <li
        class="h-16 w-16 border-none p-3 border-green-900/25 rounded flex items-center justify-center md:h-20 md:w-20"
      >
        <svg
          class="h-6 md:h-9 opacity-80"
          viewBox="0 0 57 54"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.29263 0.486328L22.1696 29.7379L0.15448 53.5206H5.10919L24.3834 32.6984L39.9564 53.5206H56.8174L33.7096 22.6237L54.2011 0.486328H49.2464L31.4958 19.6631L17.1537 0.486328H0.29263ZM7.5789 4.13597H15.3249L49.53 49.8704H41.784L7.5789 4.13597Z"
            fill="#16794C"></path>
        </svg>
      </li>
    </a>

    <!-- YouTube Icon -->
    <a
      class="flex items-center justify-center"
      href="https://youtube.com/@buildwithhussain"
      target="_blank"
    >
      <li
        class="h-16 w-16 border-none p-3 border-green-900/25 rounded flex items-center justify-center md:h-20 md:w-20"
      >
        <svg
          class="h-6 md:h-9 opacity-80"
          viewBox="0 0 89 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M86.9762 10.6431C85.9521 6.83927 82.9529 3.84009 79.149 2.81598C72.1997 0.914062 44.4025 0.914062 44.4025 0.914062C44.4025 0.914062 16.6052 0.914062 9.65589 2.74283C5.92521 3.76694 2.85288 6.83927 1.82877 10.6431C0 17.5924 0 32.0031 0 32.0031C0 32.0031 0 46.4869 1.82877 53.3631C2.85288 57.1669 5.85205 60.1661 9.65589 61.1902C16.6784 63.0921 44.4025 63.0921 44.4025 63.0921C44.4025 63.0921 72.1997 63.0921 79.149 61.2634C82.9529 60.2393 85.9521 57.2401 86.9762 53.4362C88.8049 46.4869 88.8049 32.0762 88.8049 32.0762C88.8049 32.0762 88.8781 17.5924 86.9762 10.6431Z"
            fill="#16794C"></path>
          <path
            d="M58.6665 31.9951L35.5509 18.6816V45.3085L58.6665 31.9951Z"
            fill="#F3FCF5"></path>
        </svg>
      </li>
    </a>

    <!-- LinkedIn Icon -->
    <a
      class="flex items-center justify-center"
      href="https://www.linkedin.com/in/buildwithhussain/"
      target="_blank"
    >
      <li
        class="h-16 w-16 border-none p-3 border-green-900/25 rounded flex items-center justify-center md:h-20 md:w-20"
      >
        <svg
          class="h-8 md:h-10 opacity-80"
          viewBox="0 0 65 65"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M35.1192 28.7518C35.1305 28.7518 35.1397 28.7426 35.1397 28.7312V28.7312C35.1397 28.7105 35.1101 28.7013 35.0984 28.7184C35.0977 28.7194 35.0971 28.7203 35.0965 28.7212C35.0873 28.7346 35.0972 28.7518 35.1135 28.7518H35.1192Z"
            fill="#16794C"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.3992 0C7.15758 0 0.47644 6.68114 0.47644 14.9227V49.0841C0.47644 57.3257 7.15758 64.0068 15.3992 64.0068H49.5605C57.8021 64.0068 64.4833 57.3257 64.4833 49.0841V14.9227C64.4833 6.68114 57.8021 0 49.5605 0H15.3992ZM20.385 48.427C20.385 51.0494 18.2591 53.1752 15.6368 53.1752V53.1752C13.0144 53.1752 10.8886 51.0494 10.8886 48.427V29.353C10.8886 26.7306 13.0144 24.6048 15.6368 24.6048V24.6048C18.2591 24.6048 20.385 26.7306 20.385 29.353V48.427ZM15.6368 20.7053H15.574C12.3885 20.7053 10.3236 18.5106 10.3236 15.7675C10.3236 12.9641 12.4488 10.8316 15.699 10.8316C18.9498 10.8316 20.9475 12.9641 21.0097 15.7675C21.0097 18.5106 18.9498 20.7053 15.6368 20.7053ZM54.6361 48.4257C54.6361 51.0488 52.5097 53.1752 49.8866 53.1752V53.1752C47.2636 53.1752 45.1372 51.0488 45.1372 48.4257V37.8899C45.1372 34.0508 43.7648 31.4302 40.3268 31.4302C37.7013 31.4302 36.1411 33.1946 35.4537 34.9038C35.2039 35.5144 35.1386 36.3631 35.1386 37.2192V48.4366C35.1386 51.0537 33.017 53.1753 30.3999 53.1753V53.1753C27.7737 53.1753 25.6481 51.0474 25.6584 48.4212C25.679 43.1907 25.7054 34.8172 25.6897 29.4606C25.682 26.8129 27.8533 24.6049 30.501 24.6049H34.213C34.7242 24.6049 35.1386 25.0193 35.1386 25.5305V25.5305C35.1386 26.452 36.4405 26.8729 37.1261 26.2573C38.5362 24.9913 40.5861 23.9342 43.6995 23.9342C49.9506 23.9342 54.6361 28.0166 54.6361 36.7916V48.4257Z"
            fill="#16794C"></path>
        </svg>
      </li>
    </a>
  </ul>

  <p class="text-7xl">✌🏼</p>
</footer>
