---
import Logo from "../../public/logo.png";
---

<section class="bg-white w-full">
  <div
    class="w-full px-8 md:max-w-7xl md:mx-auto md:px-24 pb-5 pt-10 md:pt-32 md:flex md:flex-row-reverse md:justify-between md:items-center"
  >
    <a href="/">
      <img src={Logo} alt="hero logo" class="w-28 h-28 mb-20 md:mb-0" />
    </a>

    <div class="space-y-3">
      <a
        href="https://youtube.com/@buildwithhussain"
        target="_blank"
        class="text-xl md:text-3xl font-semibold text-green-600"
      >
        Build With Hussain
      </a>
      <h1
        class="text-green-900 font-semibold text-4xl md:font-medium md:text-5xl md:leading-none"
      >
        Learn to build world class web apps
      </h1>
    </div>
  </div>
</section>
