---

---
<section
    class="bg-white px-8 md:px-24 pb-5 pt-20 md:pt-32 md:flex md:flex-row-reverse md:justify-between md:items-center"
  >
    <img src="./logo.png" alt="hero" class="w-28 h-28 mb-20 md:mb-0" />

    <div class="space-y-3">
      <h2 class="text-xl md:text-3xl font-semibold text-green-600">
        Build With Hussain
      </h2>
      <h1
        class="text-green-900 font-semibold text-4xl md:font-medium md:text-5xl md:leading-none"
      >
        Let's Build. <br class="md:hidden"> Let's Learn.
      </h1>
    </div>
  </section>