---
import Link from "../components/Link.astro";
import PageSection from "../layouts/PageSection.astro";
import { getLLEEpisodes } from "../utils/episodes";
import SectionHeading from "./SectionHeading.astro";

const LLEEpisodes = await getLLEEpisodes();

---

<PageSection>
  <SectionHeading>
    Let's Learn <span class="text-green-500 normal-case">ERPNext</span>
  </SectionHeading>

  <ul class="space-y-8 md:space-y-5 lg:space-y-0 mt-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-6">
    {
      LLEEpisodes.map((stream) => (
        <li class="space-y-1 md:space-y-0 lg:max-w-sm">
          <Link link={stream.stream_link} title={stream.title} />
        </li>
      ))
    }
  </ul>
</PageSection>
