---
import Link from "./Link.astro";
import getAllEpisodes from "../utils/episodes";

const episodes = await getAllEpisodes();
let pastEpisodes = episodes.filter((stream) => {
  // remove future streams
  return stream.stream_date_time <= new Date();
});
---

<ul class="space-y-8 md:space-y-5 mt-12">
  {
    pastEpisodes.map((stream) => (
      <li class="space-y-1 md:space-y-0">
        <Link link={stream.stream_link} title={stream.title} />
      </li>
    ))
  }
</ul>
