---

---

<div
  class="mt-5 prose prose-green leading-7 md:prose-lg prose-h2:text-gray-800 prose-h1:text-green-700/70 prose-h1:font-black prose-h1:title prose-h1:text-4xl md:prose-h1:text-5xl"
>
  <slot />
</div>
